{% extends "base.html" %}

{% block main_content %}

    <h2>For sale</h2>
    <table id="table">
        {% for item in items %}
            <tr>
                <td><img src="{{ url_for('static', filename=item['image'])}}" id="image"></td>
                <td id="name">
                    <a href="{{ url_for('item', item_id=item['item_id']) }}">
                        {{ item["name"] }}</a>
                </td>
                <td id="price">€{{ item["price"] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}ß